<h1>Today</h1>
<<<<<<< HEAD
<p>The date is <%= "#{Date::DAYNAMES[DateTime.now.wday]}, #{Date::MONTHNAMES[DateTime.now.month]} 0#{DateTime.now.day}, #{DateTime.now.year}" %></p>
=======
>>>>>>> 7b9db97618c5b482d61a262234ba59b5e03c5778
